<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HydeeConn" value="W0tAZoBgJ7g4md7GOHUGr2i2pje9kv3yU5V44vGfoa9u9chR5vFyZCz+fNeFZVizFLN4BaSYdfMtlhBGQ8rlm8zq22I4eaAZFBo+tlHMWYJ38KUt396J+mcD3t1DyRBEz2Haky+BIgwqQz/HB9buEuEFivv+FMqSHOi4CEV+CvVftkzYfsQp94aCQUPrxc/PkiweDdWuDlWmtJTCEga0j7J0X3PtLTIw" />
    <add key="SoftVer" value="2" />
    <add key="beginTime" value="00:00" />
    <add key="endTime" value="23:59" />
    <add key="intervalTime" value="10" />
    <add key="triggerTimes" value="10" />
    <add key="autorun" value="0"/>
    <add key="autorerun" value="0"/>
    <add key="agentIp" value=""/>
    <add key="agentPort" value=""/>
    <add key="agentUser" value=""/>
    <add key="agentPass" value=""/>
    <add key="takenotes" value=""/>
    <add key="checkconnatopen" value="1"/>
    <add key="autoreruntime" value="60"/>
    <add key="exename" value="1"/>
    <add key="webExDetailType" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>